<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="hross" />
   <link href="http://feeds.feedburner.com/hross" rel="alternate" title="hross" type="application/atom+xml" />
   
   <script src="/javascript/google-code-prettify/prettify.js"></script>

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   
   <!-- prettify -->
   <link rel="stylesheet" href="/javascript/google-code-prettify/prettify.css" type="text/css" />
   
   <!-- favicon -->
   <link rel="shortcut icon" href="/images/favicon.ico">
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">hross</a> <div class="subhead">tech + caffeine = blog</div>
    <img src="/images/header.jpg" />
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        hross<br />
    	<a href="http://hross.net/">hross.net</a><br />
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/hross/">github.com/hross</a><br />
        <a href="http://stackoverflow.com/users/107073/hross">stackoverflow (hross)</a><br />
        <a href="http://www.google.com/reader/shared/09379447049367432990">google reader shared</a>
      </p>
    </div>
    <div class="rss">
    	<a href="http://feeds.feedburner.com/hross">
        	<img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      	</a><br />
      	<a href="/">Home</a><br />
      	<a href="/archive.html">Archives</a>
    </div>
  </div>
</div>

<!--a href="http://github.com/mojombo"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a-->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-8861266-1");
pageTracker._trackPageview();
</script>

</body>
</html>
